.footer {
    background: $text-color-on-light-bg;
    color: $text-color-on-dark-bg;
    height: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    &__information {
        font-weight: 500;
        font-size: 1.2rem;
        color: rgba(255, 255, 255, 0.5);
        span {
            font-weight: 700;
        }
    }
}