@import 'themes';
.main{
   background: var(--main-bg-color);
   padding: 40px;
 }
 .block__text{
   background-color: var(--block-bg-color);
   padding: 20px;
  
 }
 .input__text{
   padding:12px;
   font-size: 16px;
   outline: none;
   border: 1px solid black;
   border-radius: 10px;

 }
 
.form__text{
 text-align: center;
}
.block__form{
  background: var(--form-bg) ;
  max-width: 70%;
  margin: 0 auto;

  h2{
    text-align: center;
  }
 padding: 20px;
 border-radius: 30px;
}
.input__form{
  margin: 10px auto;
  padding:10px;
  font-size: 16px;
  outline: none;
  width: 70%;
  border-radius: 10px;
  border: none;
 
}

.button__send{
  padding:10px;
  border-radius: 10px;
  font-size: 16px;
  width: 20%;
  margin: 0 auto;
  background:var(--button--form-bg);
  border:none;
  outline: none;
  cursor: pointer;
  &:hover{
    font-size: 18px;
  }
}

.form__send{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.textarea__form {
  margin: 10px auto;
  padding: 10px;
  font-size: 16px;
  width: 70%;
  border-radius: 20px;
  outline: none;
  resize: vertical;
  height: 300px;
}