
.slider{
margin: 20px auto;
}
.slider-wrapper{
position: relative;
width: 90%;
margin: 0 auto;
.prev,.next{
  cursor: pointer;
  position: absolute;
  top:50%;
  z-index: 20;
   font-weight: bold;
   font-size: 16px;
   background-color: transparent;
   border: none;
   outline: none;
   img{
     width: 2.5em;
     height: 2.5em;
   }
}
   .prev{
    left:-6%;
  }
  .next{
    right:-6%;
  }

}
.slider-container{

  overflow: hidden;
 max-height: 400px;


}
.slider-track{
  display: flex;

}
.slider-item{
  flex: 0 0 33.35%;
  img{
    height: auto;
    }
}
